* {
    margin: 0;
    padding: 0;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

body {
    background: url('/img/back.png') no-repeat center center fixed;

}


/* MENU NAV */
.menu-nav {
    display: flex;
    padding: 1em;
    justify-content: center;
    
}

.menu-nav li {
    transition: 1.5s;
    box-shadow: 2px 4px 12px rgba(0,0,0,.03);
    transition: all 1s cubic-bezier(0,0,.3,0);
    width: 165px;
    border-radius: 3px;
    margin-inline: 2px;
    text-align: center;
    border: #cccccc5d 1px solid;
    padding: 5px;

}

.menu-nav li:hover {
    background-color: #bf4800;
    transition: 1.5s ease;
    cursor: pointer;
    color: white;
} 

.menu-nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu-nav ul li {
    padding-inline: 10px;
    align-items: center;
}

.menu-nav ul li a {
    text-decoration: none;
    color: rgb(46, 31, 31);

}


.logo {
    text-align: center;
}


/* BARRA DE PESQUISA */

#search {
    background-color: #f7f7f7;
    width: 165px;
    border: #cccccc5d 1px solid;
    padding: 6.5px;
    border-radius: 3px;
    
}


.search-txt {
    margin-inline: 2px;

    padding: 5px;
    width: 120px;
    border: 1px solid ;
    border-radius: 3px;
    background-color: white;
}

#categoriaSelect {
    margin-inline: 2px;
    width: 165px;
    border: #cccccc5d 1px solid;
    background-color: white;
    padding: 6px;
    border-radius: 3px;
}

.preco-peca span {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    color: #bf4800;
    display: block;
}


span {
    color: #2b3538;
    font-size: 28px;
    line-height: 1.14286;
    font-weight: 600;
    letter-spacing: .007em;
}

/* Estilize a barra de pesquisa quando estiver em foco */
.search-txt:focus {
    border-color: #4CAF50;
}


.titulo {
    text-align: center;
    padding: 8px;

}

/* Conteúdo da página à estilizar */
 
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px 0px 20px 0px;

}



/* SLIDEEEE */

#peca-slider {
    position: relative;
    overflow: hidden;
}


/* Conteúdo das peças */
.item-peca{
    display: block;
    border: rgba(0, 0, 0, 0.103) solid 1px;
    border-radius: 6px;
    width: 270px;
    padding: 10px;
    transition: 1.5s;
    box-shadow: 2px 4px 12px rgba(0,0,0,.08);
    transition: all 1s cubic-bezier(0,0,.5,1);

}

.item-peca:hover {
    box-shadow: 4px 6px 15px #1f1e1e17;

}


.img-peca {
    text-align: center;
    justify-content: center;
    height: 250px;
    width: 270px;
    padding-bottom: 10px;
    display: flex;
    transition: transform 0.5s ease-in-out;
    position: relative;

}



.btn-slide {
    text-align: center;
    padding-inline: 0px;
    margin-top: 10px;
}


.btn-slide button {
    border-radius: 5px;
    text-align: center;
    border: none;
    color: #6e6a6af3;
    background-color: rgb(247, 247, 247);
    padding: 8px;
    cursor: pointer;
    width: 35px;
    font-size: larger;
    
}

.btn-slide button:hover {
    border-radius: 5px;
    transition: 0.7s ease;
    background-color: #bf4800;
    color: white;
}
/* ---------------------------------- */


.img-peca img {
    width: 250px;
    border-radius: 6px;
    transition: transform 0.3s ease;
}

.img-peca img:hover {
    transform: scale(1.05);
}

.text-peca {
    width: 270px;
    height: 50px;
    padding-bottom: 5px;
    padding-top: 8px;
    overflow: hidden;
    word-wrap: break-word;
}

/* .preco-peca {    
    width: 270px;
    height: 17px;
    text-align: center;
    position: relative;
}

.preco-peca p {
    font-size: 25px;
} */

.categoria-peca {
    color: #2b3538;
}

.btn-buy{
    width: 270px;
    padding-bottom: 10px;


}

.btn-buy button{
    transition: 1.5s;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 270px;
    height: 35px;
    margin-top: 20px;
}

.btn-buy button:hover {
    background-color: #f7f7f7;
    color: black;
    border: black 1px solid;
    box-shadow: #424242 2px 2px;

}




.break-container {
    width: 100%;
    margin: 15px 0px 15px 0px;
}


.footer-box {
    bottom: 0;
    position: relative;
    text-align: center;
    padding: 1rem;
}

.footer-box ul {
    display: flex;
    justify-content: center;
}

.footer-box ul li {
    padding-inline: 10px;
    list-style: none;
}

.footer-box ul li a {
    text-decoration: none;

}

.bi.bi-whatsapp,
.bi.bi-instagram {
    color: black;
    font-size: 30px;
    text-shadow: none;
}



/* MEDIA QUERY PARA DISPOSITIVOS MÓVEIS */
@media only screen and (max-width: 600px) {

    .container {
        flex-direction: column;
        align-items: center;
    }

    .item-peca {
        padding: 20px;
        margin-bottom: 20px;
    }

    .logo img{
        width: 350px;
    }

    .menu-nav {
    }

    .menu-nav ul {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .menu-nav ul li {
        width: 350px;
        text-align: center;
        padding: 10px 0;
        margin: 1px;
    }

    #search, .search-txt, #categoriaSelect  {
        width: 350px; 
        text-align: center;
        padding: 10px 0;
        margin: 1px;      
    }






}
