* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* MENU NAV */
.menu-nav {
    transition: 1.5s;
    display: flex;
    padding: 1em;
    justify-content: center;
}

.menu-nav ul {
    display: flex;
    list-style: none;
}

.menu-nav ul li {

    padding-inline: 10px;
}

.menu-nav ul li a {
    text-decoration: none;
}


.logo {
    text-align: center;
}


/* BARRA DE PESQUISA */

.search-box li {
    list-style: none;
}


.search-box {
    margin-top: 10px;
    padding-left: 380px;
    padding-right: 380px;
    transition: 1s;

}

.search-txt {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Estilize a barra de pesquisa quando estiver em foco */
.search-txt:focus {
    border-color: #4CAF50;
}

/* Conteúdo da página à estilizar */
 
.container {
    padding: 20px;

}


/* Conteúdo das peças */
.item-peca{
    display: block;
    border: black solid 1px;
    border-radius: 6px;
    width: 270px;
    padding: 10px;
    transition: 1.5s;

}

.item-peca:hover {
    box-shadow: #424242 3px 2px;
}

.img-peca {
    text-align: center;
    height: 250px;
    width: 270px;
    padding-bottom: 10px;
}

.img-peca img {
    width: 250px;
    border-radius: 6px;
    transition: transform 0.3s ease;
}

.img-peca img:hover {
    transform: scale(1.05);
}

.text-peca {
    width: 270px;
    height: 50px;
    padding-bottom: 10px;
}

.preco-peca {    
    width: 270px;
    height: 17px;
    text-align: center;
    position: relative;
}

.preco-peca p {
    font-size: 25px;
}

.btn-buy{
    width: 270px;
    padding-bottom: 10px;


}

.btn-buy button{
    transition: 1.5s;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 270px;
    height: 35px;
    margin-top: 20px;
}

.btn-buy button:hover {
    background-color: #f7f7f7;
    color: black;
    border: black 1px solid;
    box-shadow: #424242 2px 2px;

}



















/* MEDIA QUERY PARA DISPOSITIVOS MÓVEIS */
@media only screen and (max-width: 600px) {

    .logo img{
        width: 400px;
    }
    .menu-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-nav ul {
        flex-direction: column;
        width: 100%;
    }

    .menu-nav ul li {
        text-align: center;
        padding: 10px 0;
    }

    .search-box {
        transition: 1s;
        margin-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .search-box ul {
        width: 100%;
    }

    .search-box ul li {
        width: 100%;
    }
}
